@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Book
<div class="card m-1 p-1">
    <h3>
        @Model.Title
        <span class="badge rounded-pill bg-primary text-white float-end"><small>$@Model.Price</small></span>
    </h3>
    <ul>
        <li>Author: @Model.Author</li>
        <li>Publisher: @Model.Publisher</li>
        <li>ISBN: @Model.Isbn</li>
        <li>@Model.Classification</li>
        <li>Pages: @Model.PageCount</li>
        @*  <@* li>Price: $@b.Price</li> *@
    </ul>
</div>