@{
    ViewData["Title"] = "Home Page";
}
@model ProjectsListViewModel

    <h1>Welcome to Amazon</h1>

   
    @foreach(Book b in Model.Books)
        {
            <br />
            <h3>@b.Title</h3>
    <ul>
            <li>Author: @b.Author</li>
            <li>Publisher: @b.Publisher</li>
            <li>ISBN: @b.Isbn</li>
            <li>@b.Classification</li>
            <li>Pages: @b.PageCount</li>
            <li>Price: $@b.Price</li>
    </ul>
    <br />
        }

        <a asp-controller="Home" asp-action="Index" asp-route-pageNum="1">1</a>
        <a asp-controller="Home" asp-action="Index" asp-route-pageNum="2">2</a>
        <a asp-controller="Home" asp-action="Index" asp-route-pageNum="3">3</a>


<div page-model="@Model.PaginationInfo" page-action="Index">

</div>