@{
    ViewData["Title"] = "Home Page";
}
@model IQueryable<Book>

    <h1>Welcome to Amazon</h1>

   
    @foreach(Book b in Model)
        {
            <h3>@b.Title</h3>
    <ul>
            <li>Author: @b.Author</li>
            <li>Publisher: @b.Publisher</li>
            <li>ISBN: @b.Isbn</li>
            <li>@b.Classification</li>
            <li>Pages: @b.PageCount</li>
            <li>Price: $@b.Price</li>
    </ul>
        }


